CLANG_ANALYZER_SECURITY_INSECUREAPI_UNCHECKEDRETURN=YES
CLANG_CXX_LANGUAGE_STANDARD = c++11
CLANG_CXX_LIBRARY = libc++
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION=NO
DEAD_CODE_STRIPPING=YES
GCC_OBJC_CALL_CXX_CDTORS=YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_THREADSAFE_STATICS = NO
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_ABOUT_RETURN_TYPE=YES
GCC_WARN_CHECK_SWITCH_STATEMENTS=YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VALUE = NO
GCC_WARN_UNUSED_VARIABLE = YES
LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)
OTHER_CFLAGS = $(inherited) -Wreorder -Wno-documentation
PRESERVE_DEAD_CODE_INITS_AND_TERMS=YES

ZOOLIB_CXX= $(PROJECT_DIR)

ALWAYS_SEARCH_USER_PATHS=NO
USER_HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR) $(ZOOLIB_CXX)/Core $(ZOOLIB_CXX)/Portable $(ZOOLIB_CXX)/Project $(ZOOLIB_CXX)/Platform
